body {
    background-color: #FAF3F0;
    color: black;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#warning {
    background-color: #40128B;
    color: white;
    font-weight: bold;
    text-align: center;
}

#logo {
    width: 10%;
    height: 10%;
    margin: 1rem;
}


header {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
    color: #590D86;

}

.header {
    margin: auto 33%;

}

hr {

    border: 0;
    border-top: 1px solid #590D86;
}

#download {
    font-size: 1em;
    display: block;

    margin: 20px auto;
    width: 100px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    color: #590D86;
    border-radius: 10px;
    transition: background-color 0.4s ease-in-out, transform 0.4s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
    padding: 0.1em 0;
    outline: #590D86 solid 3px;
}

#download:active,
#downlaod:focus,
#download:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 3px #590D86;

}

footer {
    text-align: center;
    background-color: #9F91CC;
}

@media (max-width:950px) {
    .header {
        margin: auto 0.8rem;
        flex: 200px;
    }

    #logo {
        width: 25%;
        height: 25%;
        margin: 1rem;
    }

}

@media (min-width: 950px) and (max-width: 1450px) {

    .header {
        margin: auto 20%;
    }

    #logo {
        width: 25%;
        height: 25%;
        margin: 1rem;
    }
}

@media (min-width: 950px) and (max-width: 979px) {
    .header {
        margin: auto 18%;
    }
}